:root {
  --bg-color-primary: rgb(9, 10, 11); //#0d2438;
  --bg-color-secondary: rgb(25, 27, 31); //#102c44;

  --text-highlight: #9f7aea;
  --text-copy-primary: rgba(255, 255, 255, 0.85); //#cbd5e0;
  --text-copy-secondary: rgb(146, 163, 171); // #e2e8f0;
  --text-copy-tertiary: rgb(62, 176, 239);
}

body {
  background-color: var(--bg-color-primary);
}

.theme-dark .markdown-body {
  color: #24292e;
}

.theme-dark .search-highlighted {
  background: #2d3748;
}

.theme-dark .search-hover:hover {
  background: #2d3748;
}

.theme-dark .pagination.disabled {
  color: var(--bg-background-tertiary);
}

.theme-dark .markdown-body {
  color: #cbd5e0;
}

.content-wrapper {
  transition: background-color 0.25s;
}

// a {
//   @apply text-blue-700 font-bold;
// }

nav .active:not(.home) {
  font-weight: bold;
  border-color: var(--text-copy-primary);
  @apply border-b;
}

nav .active--exact.home {
  font-weight: bold;
  border-color: var(--text-copy-primary);
  @apply border-b;
}

.container-inner {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 640px) {
  .container-inner {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container-inner {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container-inner {
    max-width: 1024px;
  }
}

.checkmark {
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2229%22%20height%3D%2229%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M4.427%2024.93A14.5%2014.5%200%201%201%2024.93%204.427c5.495%205.69%205.416%2014.733-.177%2020.326s-14.637%205.672-20.326.177z%22%20fill%3D%22%232B6CB0%22/%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M10.234%2012.803l3.67%203.253L20.766%2010%2023%2012l-9.096%208L8%2014.789l2.234-2z%22/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  @apply pl-10;
}

.responsive-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.bg-gradient {
  background-image: linear-gradient(
    180deg,
    #000 0,
    rgba(0, 0, 0, 0.3) 50%,
    transparent
  );
}

.bg-gradient-800 {
  background-image: linear-gradient(
    -135deg,
    var(--bg-background-gradient-start),
    transparent 60%,
    transparent
  );
  background-size: cover;
}

.bg-octa {
  top: -5%;
  right: -20%;
  width: 80%;
  height: 80%;
  pointer-events: none;
  overflow-x: hidden;
  opacity: 0.6;
}

// .vue-typer .custom.char.typed {
//   @apply leading-tight text-6xl;
// }

// .vue-typer .custom.char.selected {
//   @apply text-blue-700 leading-tight text-6xl;
// }

.typer-wrapper {
  display: block;
  height: 49px;
}

.codepen-svg,
.codesandbox-svg,
.github-svg {
  fill: var(--text-copy-primary);
}

.toggle {
  fill: var(--text-copy-primary);
}

.toggle-container {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.toggle-container:hover {
  border: 2px solid var(--text-copy-primary);
}

.markdown-body h2 {
  margin: 50px 0 20px;
  font-size: 24px;
  position: relative;
  display: inline-block;
}

.markdown-body h2:after {
  content: '';
  position: absolute;
  width: 60%;
  bottom: 0;
  right: 0;
  height: 2px;
  background: var(--text-copy-primary);
  transform: rotate(-10deg);
}

.markdown-body hr {
  margin: 50px 0;
}
